@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #333338;
  --card-foreground: #ffffff;
  --secondary: #3F3F46;
  --secondary-foreground: #ffffff;
  --muted: #3F3F46;
  --muted-foreground: #a1a1aa;
  --border: #3F3F46;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
