@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #18181B;
  --card-foreground: #ffffff;
  --secondary: #27272A;
  --secondary-foreground: #ffffff;
  --muted: #27272A;
  --muted-foreground: #a1a1aa;
  --border: #27272A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}
